<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGau1-IZSqreso8GWn29XvYljZ1LNYhEg</string>
	<key>GCM_SENDER_ID</key>
	<string>668353511665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barkGeniusApp</string>
	<key>PROJECT_ID</key>
	<string>barkgenius-finalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>barkgenius-finalproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668353511665:ios:c97f4a09e99c034d666950</string>
</dict>
</plist>